<!DOCTYPE html>

<html>

<head>

<title>My Data Dashboard</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white topbar mb-4 static-top shadow sticky-top">
   <a class="navbar-brand" href="#">Stock Market Analysis</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <div class="navbar-nav ml-auto mt-2 mt-lg-0">

      <a class="nav-link" href="https://www.linkedin.com/in/juanita-smith">
        <img src="/static/img/linkedinlogo.png" alt="linkedin" width="30" height="24" class="img-fluid mb-2 ml-2 d-inline-block align-text-middel">LinkedIn
      </a>

      <a class="nav-link" href="https://github.com/JuanitaSmith/myfirstwebapp">
        <img src="/static/img/githublogo.png" alt="github" width="30" height="24" class="img-fluid mb-2 ml-2 d-inline-block align-text-middel">Project link
      </a>

    </div>
  </div>
</nav>

{#<div class="card w-50 ml-2 mt-3 mb-4">#}
{#  <div id="{{ids[0]}}"></div>#}
{#  <div class="card-body">#}
{#    <h5 class="card-title">Card title</h5>#}
{#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#  </div>#}
{#</div>#}
{##}
{#<div class="card w-25 ml-2 mt-3 mb-4">#}
{#  <div id="{{ids[1]}}"></div>#}
{#  <div class="card-body">#}
{#    <h5 class="card-title">Card title</h5>#}
{#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#  </div>#}
{#</div>#}


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

{#    <div class="container-fluid">#}
    <div id="charts" class="container-fluid mt-3 text-center">

{#        <div class="card-group">#}

        <div class="col-12">

            <div class="row" style="display:flex">

                    <div class="col-sm-6">
{#                        <div class="card">#}
                            <div id="{{ids[0]}}"></div>
{#                        </div>#}
                    </div>

                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-6 col-sm-6">
{#                                <div class="card">#}
{#                                    <div class="card card-body flex-fill">#}
                                        <div id="{{ids[1]}}"></div>
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-6">
{#                                <div class="card">#}
                                    <div id="{{ids[2]}}"></div>
{#                                </div>#}
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>


{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-4 col-sm-12 mb-4">#}
{#                            <div class="card w-25">#}
{#                                <div id="{{ids[2]}}" style="height: 50%;"></div>#}
{##}
{#                            </div>#}


{#                </div>#}
{#        </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="row">#}
{#        <div class="col-12">#}
{#           <div id="{{ids[3]}}"></div>#}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}

{#<div class="row">#}
{##}
{#    <!--visualizations column-->#}
{#    <div class="col-12">#}
{##}
{#        <!--charts-->#}
{#        <div id="charts" class="container mt-3 text-center">#}
{##}
{#            <!--top two charts-->#}
{#            <div class="row">#}
{##}
{#                <div class="col-6">#}
{#                    <div id="{{ids[0]}}"></div>#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                    <div class="col-6">#}
{#                        <div id="{{ids[1]}}"></div>#}
{#                   </div>#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                    <div class="col-6">#}
{#                        <div id="{{ids[2]}}"></div>#}
{#                   </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#</div>#}
{#</div>#}



<!--footer section-->
<div id="footer" class="container"></div>

</body>


<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>


</html>